.container {
    width: 20%;
    margin: 25px;
    padding: 20px;
    background-color: #fff;
    color: #183281;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    list-style-type: none;
  }
  

  
  

  