nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.App-logo {
    height: 7vmin;
    pointer-events: none;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    color: #183281;
    font-size: 1.3rem;
    font-weight: 600;
}

#navbar li:hover,
#navbar li.active
{
    color: rgb(14, 27, 70);
    transition: color 0.3s ease;
}

#navbar li:hover::after,
#navbar li.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(14, 27, 70);
    position: absolute;
    bottom: -4px;
    left: 20px;
    transition: color 1s ease-out;
}

#mobile {
    display: none;
}

#mobile i {
    color: #183281;
    align-items: center;
}

@media screen and (max-width:769px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 51px;
        right: -300px;
        width: 200px;
        height: 100px;
        background: #fff;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 10px;
        transition: 0.3s ease-in-out;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: block;
    }

    #mobile i {
        font-size: 24px;
        cursor: pointer;
    }
}

.loginWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #183281;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.loginWindow button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
}

.loginWindow button:hover {
    background-color: #0056b3;
}