  .footer {
    background-color: #FF1F66; 
    padding: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
  }
  
  .social-icons {
    display: flex;
    background-color: #FF1F66; 
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
  }
  
  .social-icons a {
    background-color: #FF1F66; 
    color: #fff;
    margin: 0 20px; 
    text-decoration: none;
  }
  
  .social-icons i {
    background-color: #FF1F66; 
    font-size: 32px;
  }
  
  .social-icons a:hover i {
    color: #04395E;
    transition: color 0.3s ease;
  }