body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-form-header{
  padding: 3%;
  background-color: #04395E;
  border-bottom: #04395E;
}

.custom-form-body {
  background-color: #04395E;
  text-align: center;
  align-items: center;
}

.custom-form-body .poll-type-grid {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; 
}

.custom-form-control-radio {
  display: flex;
  align-items: center;
  color: white;
}

.custom-form-control-radio input {
  margin-right: 5px; 
  margin-bottom: 10px;
}

.custom-modal-title {
  color: white; 
  font-size: 25px; 
  margin-bottom: 30px;
}

.custom-form-control {
  border: 2px solid white; 
  background-color: #04395E;
  border-radius: 8px; 
  padding: 10px; 
  margin-bottom: 5px;
}

.custom-form-control::placeholder {
  color: white; 
}

.custom-modal-btn {
  color: #04395E; 
  display: block;
  margin: auto;
}

.custom-modal-footer {
  border-top:  #04395E;
  background-color: #04395E;
}

.custom-close-btn {
  font-size: 10px; 
  background-color: white;
  opacity: 100%;
  color: #04395E;
}

.text-danger{
  display: block;
  margin: auto;
}

.custom-form-label1 {
  color: white;
  margin-left: -84%;
}

.custom-form-label2 {
  color: white;
  margin-left: -79%;
}